body {
    background-color: #f0f8ff; /* cor suave */
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 18px;
    text-align: justify;
}

ul {
    line-height: 1.8; /* espaçamento entre os itens */
}

img {
    width: 300px;
    border-radius: 12px;
    display: block;
    margin: 15px auto;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}

a {
    display: block;
    margin-top: 20px;
    color: #1a73e8;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #d93025;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #27ae60;
}

#mensagem {
margin-top: 15px;
font-size: 18px;
color: #34495e;
font-weight: bold;
}
